# dependencies
node_modules

# environment variables
.env
.env.*

# build output
dist
build

# uploads (user images etc)
uploads

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# prisma generated client (if using custom output)
src/generated/prisma

# IDE
.vscode
.idea